header{
    background: url(https://static1.squarespace.com/static/555008b3e4b0c62a575b8762/t/556c9751e4b072fc1ba8103d/1433179986764/CPE-Calculator-and-Pen-2.jpg?format=2500w);
    background-size: cover;
    background-position: center;
    min-height: 500px;  
    position: relative;  
}
@media screen and (max-width: 670px){
header{
    min-height: 300px;
}
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.tabs .indicator{
    background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}


hr {
    border: dotted #745048 5px;
    border-bottom: none;
    height: 0px;
    width: 16%;
    margin: 100px auto;
    
}

.w3-center {
    position: absolute;
    left: 42%;
    bottom: 0;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Slideshow */
/* Hide the images by default */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot-active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .radio-btn {

    display: inline;

  }